
body {
  margin: 0;
  height: 690px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(180deg, rgba(110, 91, 62, 0.85) 0%, rgba(201, 163, 129, 0.67) 47.92%, rgba(143, 142, 141, 0.39) 82.81%), url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1180&q=80");
  background-size: cover;
}
#ing-filter {
  display: flex;
  margin-bottom: 30px;
}
#search-button {
  margin-left: 5px;
  border-radius: 5px;
  background-color: #000000;
  opacity: 0.5;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 200;
}
#filter {
  margin-left: 5px;
  border-radius: 5px;
  background-color: #000000;
  opacity: 0.5;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 200;
}

#filter-header {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  margin-right: 5px;
  letter-spacing: 1px;
}
#user-input {
  height: 15px;
  border-radius: 5px;
  background-color: #000000;
  opacity: 0.5;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 200;
}

.overlay {
  position: absolute;
  height: 150px;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#logo {
  position: relative;
  top: 20px;
  right: -570px;
  height: 60px;
}

#top-center {
  position: relative;
  top: -10px;
  margin-left: 100px;
  font-size: 36px;
  color:black;
  text-shadow: 2px 2px 5px white;
  letter-spacing: 3px;
}

#filter-div {
  display: flex;
}

#food-i-have{
  margin-right: 5px;
}

#category-filter{
  background-color: #000000;
  opacity: 0.5;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

#country-filter{
  background-color: #000000;
  opacity: 0.5;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

#food-category{
  margin-left: 10px;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #000000;
  opacity: 0.5;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  width: 150px;
}

#food-country{
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #000000;
  opacity: 0.5;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  width: 150px;
}

#display {
  height: 400px;
  Margin: 130px 100px 0px 100px;
  display: flex;
  border-radius: 30px;
  
}

#display-image {
  height: 290px;
  width: 340px;
  margin-left: 155px;
  margin-top: 80px;
  border-radius: 20px;

}

#image-box{
  margin-top: 50px;
  margin-left: -60px;
}

#like-bttn{
  margin-left: 290px;
  margin-right: 10px;
  border-radius: 5px;
  opacity: 0.70;
}

#info {
  margin-left: -100px;
  height: 400px;
  width: 800px;
  line-height: 1.5;
}

#recipe-name {
margin-left: 190px;
margin-bottom: 0px;
margin-top: 60px;
}

#content {
  display: flex;
}

#ingredients-info{
  width: 300px;
  height: 300px;
}

#instructions-info {
  margin-left: 50px;
  height: 300px;
  text-align: justify;
}

#instructions-title{
  text-align: center;
}

#ingredients-title{
  text-align: center;
}

#instructions {
  height: 200px;
  width: 400px;
  overflow: auto;
  font-size: 18px;
}

#ingredients {
  height: 200px;
  overflow: auto;
  font-size: 18px;
  word-spacing: 2px;
}

#recipe-menu{
  display: flex;
  background:rgba(0, 0, 0, 0.5);
  height: 200px;
  overflow: auto;
  text-align: center;
  margin-top: 65px;
  color: rgb(238, 232, 232);
}

.result{
  margin: 5px 10px 5px 10px;
  flex: 1;
}

.recipe-image{
  height: 150px;
  width: 150px;
  margin: 3px 0px 0px 0px ;
  border-radius: 20px;
}

.recipe-title{
  margin: 0px;
  height: 18px;
  text-overflow: clip;
  font-size: 16px;
  letter-spacing: 1px;
}
