/* css code things */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* .big-image {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1180&q=80");
} */

.overlay {
  position: absolute;
  height: 200px;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(29, 21, 9, 0.85) 0%, rgba(201, 163, 129, 0.67) 47.92%, rgba(143, 142, 141, 0.39) 82.81%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

#top-center {
  position: absolute;
  top: 40px;
  font-size: 18px;
}

#display {
  height: 400px;
  background: red;
  Margin: 200px 100px 0px 100px;
  display: flex;
}



#display-image {
  height: 250px;
  width: 300px;
  margin-left: 100px;
  margin-top: 80px;
  border-radius: 20px;

}

/* #image-box{
  align-items: center;
} */

#like-bttn{
  margin-left: 200px;
  margin-right: 10px;
}

#info {
  margin-left: -100px;
  background-color: royalblue;
  height: 400px;
  width: 800px;
  
}

#recipe-name {
margin-left: 270px;
}

#content {
  display: flex;
}

#ingredients-info{
  margin-left: 150px;
  width: 200px;
  height: 300px;
}

#instructions-info {
  margin-left: 150px;
  height: 300px;
}

#instructions-title{
  text-align: center;
}

#ingredients-title{
  text-align: center;

}

#instructions {
  height: 200px;
  overflow: auto;
}

#ingredients {
  height: 200px;
  margin-left: -50px;
  overflow: auto;
}

#recipe-menu{
  display: flex;
  background: hsl(180, 50%, 70%);
  height: 220px;
  overflow: auto;
  text-align: center;
}

.result{
  margin: 5px 10px 5px 10px;
  flex: 1;
}

.recipe-image{
  height: 150px;
  width: 150px;
  margin: 3px 0px 0px 0px ;
  border-radius: 20px;
}

.recipe-title{
  margin: 0px;
  height: 18px;
  text-overflow: clip;
}

/* .likes {
  margin: 0px;
} */
